.channel{
    margin: 0 auto;
    width: 100px;
    height: 20px;
    max-width: 100%;
    display: block;
    text-align: center;
    <!--
    background-color: #eb9700; 
    -->
    font-size: 10;
}
.list{
    margin: 0 auto;
    width: 80%;
    display: block;
    background-color: rgba(0,0,5,0.1);
}
.line{
    margin: 0 auto;
    width: 100%;
    height: 10px;
    max-width: 100%;
    display: block;
    text-align: center;
}
.buttonLeft {
    margin:0 auto;
    height: 40px;
    width: 80%;
    padding: 0 14px;
    overflow: hidden;
    background: #474E51;
    position: relative;
    line-height: 40px;
    color: #fff;
    text-align: center;
}

.buttonLeft::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: #5A5EB9;
    transition: transform .2s ease-in-out;
}

.buttonLeft:hover::before {
    transform: translateX(0);
}

.buttonLeft span {
    position: relative;
    z-index: 0;
}

.vid{
    margin: 0 auto;
    width: 350px;
    height: 200px;
    max-width: 100%;
    display: block;
    text-align: center;
    font-size: 10;
}

.vidBg{
    text-align: left;
    font-size: smaller;
    margin: 0 auto;
    width:70%;
    /*background-color:#78FF78;*/
    position: relative;
}

.vidBottomRow{
    border-radius: 20px/50px;
    text-align: left;
    display: flex;
    font-size: smaller;
    margin: 0 auto;
    width:100%;
    /*height: 50px;*/
    background-color:black;
    position: relative;
}